<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>

<body ondrop="stopMoveEvent(event)">
  <!-- Header -->
  <%- include('partials/header') %>

  <!-- Main Content -->
  <div class="container-fluid" style="padding: 0; margin: 0; height: 100vh;">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
      <li class="active">
        <a data-bs-toggle="tab" href="#pageList">.:Pages List:.</a>
      </li>
      <li>
        <a data-bs-toggle="tab" href="#formsList">.:Forms List:.</a>
      </li>
      <li class="render-tab">
        <a data-bs-toggle="tab" href="#renderForm">.:Render:.</a>
      </li>
      <li><a data-bs-toggle="tab" href="#editForm">.:Editor.</a></li>
      <li><a data-bs-toggle="tab" href="#DatabaseForm">.:Data Sources:.</a></li>
      <li><a data-bs-toggle="tab" href="#WebServer">.:Web Services:.</a></li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
      <%- include('tabs/pageList') %>
      <%- include('tabs/formsList') %>
      <%- include('tabs/renderForm') %>
      <%- include('tabs/editForm') %>
      <%- include('tabs/databaseForm') %>
      <%- include('tabs/webServer') %>
    </div>
  </div>

  <!-- Outils flottants, modales, overlays, toasts... -->
  <%- include('partials/modals') %>

  <!-- Footer -->
  <%- include('partials/footer') %>

  <!-- Scripts (bas de page) -->
  <%- include('partials/scripts') %>
</body>
</html>
